:root {
    --backgroundcolor: #314413;
    --colortitle: #ffca30;
    --white:#ffffff;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundcolor);
    background-image: url(../images/fundopg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
}

.homelink img {
    width: 250px;
    height: auto;
}

.homelink {
    position: absolute;
    text-decoration: none;
    left: 700px;
    top: 110px;
}

.loginlink {
    position: absolute;
    text-decoration: none;
    left: 1120px;
    top: 60px;
}

.loginlink img{
    width: 6rem;
}



h1 {
    color: var(--colortitle);
    font-family: 'Chau Philomene One' ;
    font-size: 70px;
    margin-top: 230px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px;
}



.item img {
    width: 320px;
    height: auto;
    border-radius: 10px;
    margin-right: -30px;
    margin-bottom: 200px;
    cursor: pointer;
}

.item2 img {
    width: 320px;
    height: auto;
    border-radius: 10px;
    margin-left: -30px;
    margin-bottom: 300px;
    cursor: pointer;
}

.item img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.item2 img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}