:root{
    --yellow: #ffca30;
    --green:#314413;
    --white: #EAE8ED;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/images/sapinho.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
    background-color: var(--green);
    overflow: hidden;
}

.homelink img {
    width: 250px;
    height: auto;
}

.homelink {
    position: absolute;
    text-decoration: none;
    left: 1150px;
    top: 1px;
}

.loginlink {
    position: absolute;
    text-decoration: none;
    left: 1780px;
    top: 50px;
}

.loginlink img{
    width: 6rem;
}


.secun {
    padding: 14rem;
}

.secun h3 {
    color: var(--yellow);
    font-size: 70px;
    text-align: center;
    padding-bottom: 5rem;
    font-family: 'Chau Philomene One', sans-serif;
    margin-top: -140px;

}

.secuncard{
    display: flex;
    columns: 2;
    gap: 6rem;
    justify-content: center;
}

.secuncard div{
    background-color: var(--yellow);
    height: 70px;
    width: 600px;
    border-radius: 10px;
    color: #314413;
    padding-top: 4rem;
    margin-top : -70px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;

}


.secuncard div p{
    color: #314413;
    text-align: center;
    padding-top: 0rem;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navegacao {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none; 
}

.anterior, .proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(240, 196, 2, 0.814);
    border-radius: 50%;
    text-decoration: none;
    user-select: none;
    pointer-events: auto; 
}

.anterior {
    left: 10px; 
}

.proximo {
    right: 10px; 
}

.anterior:hover, .proximo:hover {
    background-color: rgba(103, 214, 105, 0.8);
}
