:root {
  --backgroundcolor: #314413;
  --colortitle: #ffca30;
  --white:#ffffff;
}


body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: var(--backgroundcolor);
    margin: 0;
    padding: 20px;
    color: #fff;
  }
  
  h1 {
    font-family: 'Chau Philomene One';
    font-size: 56px;
    margin-bottom: 10px;
    color: #ffee00;
  }
  
  p {
    font-size: 20px;
    font-family: 'Chau Philomene One';
    margin-bottom: 20px;
  }
  
  #tabuleiro {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
    justify-content: center;
    margin: 0 auto;
  }
  
  .carta {
    background-color: #ffaa00;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .carta img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: none;  
    border-radius: 10px;
  }

  
  .carta.virada img {
    display: block; 
  }
  
  .carta.corretamente {
    background-color: #228b22;
    cursor: default;
  }
  
  #vitoria {
    font-size: 28px;
    color: #ff0;
    margin-top: 20px;
    display: none;
  }

  #reiniciar {
    background-color: #ffaa00;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  #reiniciar:hover {
    background-color: #ff8800;
  }

  .homelink img {
    width: 250px;
    height: auto;
}

.homelink {
    position: absolute;
    text-decoration: none;
    left: 1120px;
    top: -10px;
}



.anterior, .proximo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(240, 196, 2, 0.814);
  border-radius: 50%;
  text-decoration: none;
  user-select: none;
  pointer-events: auto; 
}

.anterior {
  left: 10px; 
}

.proximo {
  right: 10px; 
}

.anterior:hover, .proximo:hover {
  background-color: rgba(103, 214, 105, 0.8);
}

